<html>
<head>
  <style>
      #main{
      min-height:550px;
      width: 700px;
      border: 2px gray;
      margin-top: 50px;
      background-color: white;
      }
      </style>
      
</head>
<body>
<div class = "container">
  <div id = "main">
    <div class ="row">
      <div class = col-md-4></div>
      <div class = "col-md-8">
    
    <div class = "jumbotron">
    <form class = "form" style = "vertical-align: center">

      <div class= "form-group">
        <label for = "frstName" class="control-label col-sm-4" ><b>First name:</b></label>
        <div class="col-md-12">
          <input [(ngModel)] = "firstName" name = "firstName"  type = "text" class="form-control" id = "frstName" placeholder="Enter your first name"> 
        </div>
      </div>

      <div class= "form-group">
        <label for = "lastName" class="control-label col-sm-4" ><b>Last Name:</b></label>
        <div class="col-md-12">
          <input  [(ngModel)]= "lastName" name = "lastName"  type = "text" class="form-control" id = "lastName" placeholder="Enter your first name"> 
        </div>
        
      </div>

      <div class= "form-group">
        <label for = "type" class="control-label col-sm-4" ><b>Type:</b></label>
        <div class="col-md-12">
          <input [(ngModel)]= "type" name = "type"  type = "text" class="form-control" id = "type" placeholder="Enter your type"> 
        </div>
       </div>

      <div class= "form-group">
        <label for = "email" class="control-label col-sm-4" ><b>Email:</b></label>
        <div class="col-md-12">
          <input [(ngModel)]= "email" name = "email"  type = "email" class="form-control" id = "email" placeholder="Enter your email"> 
        </div>
      </div>
       
      <div class= "form-group">
        <label for = "pass" class="control-label col-sm-4" ><b>Password:</b></label>
        <div class="col-md-12">
          <input [(ngModel)]= "pass" name = "pass"  type = "password" class="form-control" id = "pass" placeholder="Enter your password"> 
        </div>
      </div>
       
  </form>

  <p class = "display"> Name: {{firstName}}</p>
  <p class = "display"> Last Name: {{lastName}}</p>
  <p class = "display"> Type: {{type}}</p>
  <p class = "display"> Email: {{email}}</p>
  <p class = "display"> Password: {{pass}}</p>
  <button class = "btn btn-success" style = "width:150px; height: 40px">Join Now</button><br><br>
  <p>Do you Have Already an <b>account?</b></p>
  <button class = "btn btn-dark" style = "width:200px; height: 40px">Please click here to login</button><br><br>

</div>
</div>
</div>
</div>
</div>
  </body>
</html>
