<p>
  login-componenet works!
</p>
<div class = "container">
    <div class ="row">
        <div class = col-md-3></div>
        <div class = "col-md-6">
      
  <div class = "form">
    
    <div class= "jumbotron">
    <form class = "login-form">

        <div class= "form-group">
            <label for = "email" class="control-label" ><b>Email:</b></label>
            <div class="col-md-10">
            <input [(ngModel)]= "email" name = "email" type = "text" class="form-control" id = "email" placeholder="Enter your email"> 
            
          </div>
          
          </div>

          <div class= "form-group">
              <label for = "pass" class="control-label" ><b>Password</b>:</label>
              <div class="col-md-10">
              <input [(ngModel)]= "pass" name = "pass"  type = "text" class="form-control" id = "pass" placeholder="Enter your password"> 
            </div>
            </div>
          
    </form>

    <p class = "display"> Email: {{email}}</p>
    <p class = "display"> Password: {{pass}}</p>
    <button class = "btn btn-success">Login Now</button><br><br>
    
    </div>
  </div>
  </div>
  <div class = col-md-3></div>
</div>
</div>